.dropdown-container {
  position: relative;
  max-width: 210px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}
.dropdown-menu {
  position: absolute;
  overflow-y: scroll;
  text-align: center;
  background-color: white;
  height: 100px;
  z-index: 1000;
}
.dropdown-selected-value {
  font-size: 12px;
}
.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-item {
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  color: black;
}
.dropdown-item.selected {
  position: relative;
  &::before {
    content: "•";

    font-weight: 600;
    display: inline-block;
  }
}
.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-tag-item {

  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  .tag_name{
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
  }
}
.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}
.search-box input {
  min-width: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
