tr {
 
  background-color: #fff;
}

.selected {
  background-color: gray;
}

.title {
  width: 100px;

  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;

  margin: 0 auto;
  font-size: 18px;
  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    object-fit: contain;
  }
  input {
    max-width: 55px;
  }
}
.item {
  text-align: center;

  margin: auto 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.504);
  span {
    vertical-align: middle;
  }
}
.id {
  font-size: 18px;
  input {
    max-width: 30px;
  }
}

.deleteBtn {
  position: absolute;
  transform: translateY(-10px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  font-weight: 700;
  transition: 0.4s;
}
td:nth-child(0) {
  min-width: 50px;
  input {
    max-width: 55px;
  }
}

.freezeBtn {
  cursor: pointer;
  min-width: 14px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    background-color: #4b4b4b;
  }
}
